body { 
background-image: url("../images/fast-food-space-bottom_23-2147695664.jpg");
background-repeat: no-repeat;
background-size: cover;
color: white;
}

.container {
    position: relative;
    left: 21%;
    bottom: 40%;
    padding-top: 21%;
    color: white;
    
}

.card {
    background-color: transparent;
}