#currentWordRow {
    padding: 0 0 0 50px;
    margin: 0% auto 15% auto;
    line-height: 250%;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 5%;
}

.col.shadow-lg.p-3.mb-5.rounded {
    background-color: aliceblue;
}
